body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #222;
    font-size: 16px;
}

header {
    background-color: #003366;
    color: #ffffff;
}
.wrong {
    color: #d9534f;
    background-color: #f9f2f4;
}

.correct {
    color: #3c763d;
    background-color: #dff0d8;
}

footer {
    font-size: 0.8em;
    color: #555;
    background-color: #eee;
}